
<style>
    .mat-dialog-container .description {
        font-size: 16px !important;
        color: black !important;
        margin-bottom: 20px !important;
    }
    .mat-dialog-container .actions button {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
        min-width: 64px !important;
        line-height: 36px !important;
        padding: 0 16px !important;
        border-radius: 4px !important;
        margin-right: 15px !important;
    }
    .mat-dialog-container .actions .delete {
        background-color: #f44336 !important;
        color: #fff !important;
    }
    .mat-dialog-container .actions .close {
        color: #fff !important;
    }    
</style>

<div mat-dialog-content class="description">
    ¿Esta seguro de borrar el registro?
</div>
<div mat-dialog-actions class="actions">
    <button (click)="confirm()" mat-raised-button class="delete">Eliminar</button>
    <button (click)="close()" mat-raised-button class="close">Cerrar</button>
</div>