.mat-dialog-container{
    .description{
        font-size: 16px !important;
        color: black !important;
        margin-bottom: 20px !important;
    }
    .actions{
        button{
            box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%) !important;
            min-width: 64px !important;
            line-height: 36px !important;
            padding: 0 16px !important;
            border-radius: 4px !important;
            margin-right: 15px !important;
        }
        .delete{
            background-color: #f44336 !important;
            color: #fff !important;
        }
        .close{
            color: #fff !important;
        }
    }
}