.windows{
    width: 768px;
    margin: 0 auto;
    padding: 30px 0;
    h3{
        padding: 0 15px;
        background: #2f2fc3;
        color: white;
        margin-bottom: 0;
    }
    .container {
        padding: 25px 20px 1px;
        background-color: #ececec;
        box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
        .card{
            margin-bottom: 3rem;
            padding: 0;
            .row-form{
                background-color: #dedede;
                h3{
                    padding: 0 15px;
                    background: #2f2fc3;
                    color: white;
                    margin-bottom: 0;
                }
                .actions{
                    border-bottom: 1px solid #000;
                    padding: 10px 15px;
                    button{
                        margin-right: 10px;
                    }
                }
                .table{
                    padding: 15px;
                    border-spacing: 0;
                    width: 100%;
                    thead{
                        background-color: #a9a8a8;
                        tr{
                            th{
                                padding: 5px
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                border-bottom: 1px solid #a9a8a8;
                                padding: 5px;
                                text-align: center;
                                span{
                                    display: none;
                                }
                            }
                            .select{
                                color: #2f2fc3;
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .pagination{
                    text-align: right !important;
                    .ngx-pagination{
                        padding: 0 20px 10px !important;
                        text-align: right !important;
                        margin: 0 !important;
                        .current{
                            background-color: #2f2fc3 !important;
                        }
                    }
                }
                .form{
                    padding: 20px 15px;
                    .row{
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        padding-bottom: 5px;
                        margin-bottom: 5px;
                        label{
                            margin-right: 15px;
                            width: 60px;
                        }
                        input,
                        select{
                            padding: 5px 10px;
                            border: 1px;
                            border-radius: 1px;
                            width: 160px;
                        }
                        input.id,
                        select.id{
                            cursor: not-allowed;
                            background: #ededed;
                            color: #737373;
                        }
                        select{
                            width: 180px;
                            option{
                                padding: 5px;
                            }
                        }
                        .error{
                            width: 100%;
                        }
                        .row-m{
                            display: flex;
                            .row-s{
                                input{
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        .message {
            font-size: 16px;
            width: 95%;
            margin: 1vh auto;
            padding: 10px 2.5%;
            color: #155724;
            background-color: #d4edda;
        }
        .error-message {
            color: #721c24;
            background-color: #f5c6cb;
        }
        .content-spinner{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1000;
            background: rgb(148 147 147 / 60%);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: 991px) {
    .windows{
        width: 80%;
    }
}

@media (max-width: 600px) {
    .windows{
        width: 90%;
    }
}
