<div class="windows">
    <h3>Gestion de usuarios</h3>
    
    <div class="container">
    
        <mat-card class="card">
            <div class="row-form">
                <h3>Parametro de busqueda</h3>
        
                <div class="actions">
                    <button (click)="search()" mat-raised-button>Consultar</button>
                    <button (click)="clearForm()" mat-raised-button>Limpiar</button>
                </div>
        
                <div class="form" [formGroup]="formSearch">
                    <div class="row">
                        <label>Nombre</label>
                        <input type="text" formControlName="user">
                    </div>
                </div>              
            </div>
        </mat-card>

        <mat-card class="card">
            <div class="row-form">
                <h3>Lista de usuarios</h3>
        
                <div class="actions">
                    <button (click)="create()" mat-raised-button>Crear</button>
                </div>

                <table *ngIf="users.length > 0" class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th>Activo</th>
                            <th></th>
                        </tr>
                    </thead>
                
                    <tbody>
                        <tr *ngFor="let user of users | paginate: { itemsPerPage: 3, currentPage: actualPage }">
                            <td><span>ID:</span> {{ user.id }}</td>
                            <td><span>Nombre:</span> {{ user.nombre }}</td>
                            <td><span>Rol:</span> {{ user.rol.nombre }}</td>
                            <td *ngIf="user.activo == '1'"><span>Activo:</span> Si</td>
                            <td *ngIf="user.activo == '0'"><span>Activo:</span> No</td>
                            <td (click)="select(user)" class="select"><span>Seleccionar:</span> Seleccionar</td>
                        </tr>
                    </tbody>
                </table> 
                
                <pagination-controls *ngIf="users.length > 0" (pageChange)="actualPage = $event" class="pagination"></pagination-controls>
            </div>
        </mat-card>

        <mat-card class="card">
            <div class="row-form">
                <h3>Información de usuario</h3>
        
                <div *ngIf="tableInfoUser" class="actions">
                    <button *ngIf="saveActive" (click)="save()" mat-raised-button>Guardar</button>
                    <button *ngIf="updateActive" (click)="update()" mat-raised-button>Actualizar</button>
                    <button *ngIf="editActive" (click)="edit()" mat-raised-button>Editar</button>
                    <button *ngIf="deleteActive" (click)="delete()" mat-raised-button>Eliminar</button>
                </div>
        
                <div *ngIf="tableInfoUser" [formGroup]="formCreate" class="form">

                    <div class="row">
                        <label>ID</label>
                        <input type="text" class="id" formControlName="id" readonly>  
                    </div>

                    <div class="row">
                        <label>Nombre</label>
                        <input type="text" formControlName="nombre" [ngClass]="{'id' : !editFieldsActive}" [readonly]="!editFieldsActive">
                        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="error">
                            <mat-error *ngIf="nombre.errors.required">
                                El campo nombre es requerido
                            </mat-error>
                        </div>   
                    </div>

                    <div class="row">
                        <label>Rol</label>
                        <select formControlName="rol" [ngClass]="{'id' : !editFieldsActive}">
                            <option *ngFor="let rol of rols" value="{{ rol.id }}" [selected]="rol.id == selectedValue">
                                {{ rol.nombre }}
                            </option>                           
                        </select>
                        <div *ngIf="rol.invalid && (rol.dirty || rol.touched)" class="error">
                            <mat-error *ngIf="rol.errors.required">
                                El campo rol es requerido
                            </mat-error>
                        </div>   
                    </div>   
                    
                    <div class="row">
                        <label>Activo</label>

                        <div class="row-m">
                            <div class="row-s">
                                <input id="activo" type="checkbox" (change)="selectCheckActivo()" formControlName="activo" [ngClass]="{'id' : !editFieldsActive}" [readonly]="!editFieldsActive">
                                <label for="activo">Si</label>
                            </div>
                            <div class="row-s">
                                <input id="noactivo" type="checkbox" (change)="selectCheckNoActivo()" formControlName="noActivo" [ngClass]="{'id' : !editFieldsActive}" [readonly]="!editFieldsActive">
                                <label for="noactivo">No</label>
                            </div>                            
                        </div>

                        <div *ngIf="activo.invalid && (activo.dirty || activo.touched)" class="error">
                            <mat-error *ngIf="activo.errors.required">
                                El campo activo es requerido
                            </mat-error>
                        </div>   
                    </div>                     

                </div> 
            </div>
        </mat-card>

        <div *ngIf="spinner" class="content-spinner">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
            
    </div>
</div>